# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore Git files
.git/
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore editor/OS-specific files
*.swp
*.swo
*.DS_Store
.idea/
.vscode/

# Ignore logs
*.log
